/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #818c94;
    text-align: center;
    padding: 20px;
}

/* Estilo para o título principal */
h1 {
    color: #dce0e4;
}

/* Estilo para os botões */
button {
    background-color: #141618;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #5a9bd4;
}

/* Estilo para o campo de entrada */
input[type="text"] {
    padding: 10px;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

/* Estilo para a mensagem */
p {
    font-size: 20px;
    color: white;
}

/* Estilo para o log de palpites */
textarea {
    color:red;
    width: 50%;
    height: 250px;
    font-size: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    resize: none;
}
